@charset "utf-8";

///////////////////////////////////////////////////////////
// heading
///////////////////////////////////////////////////////////

// ---------------------------------------------------------
// 必要ファイルインポート
// ---------------------------------------------------------
@use "../setting/variables" as *;
@use "../foundation/mixins" as *;

.c-heading {
  .en {
    font-family: $font_en;
    letter-spacing: 0.1em;
  }

  .ja {
    text-align: center;
    letter-spacing: 0.08em;
    margin-top: 1em;
  }
}